* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(90, 90, 90);
}

header{
    width: 100%;
    min-height: 80px;
    background-color: white;
}

.sidebar 