/* GENERAL RULES */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, FontAwesome, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

.sidebar a:hover {
    color: rgb(93, 93, 255);
}

.nav_buttonbox > a {
    color: gray;
}

.nav_buttonbox a:hover {
    color: rgb(180, 180, 180);
}

tr {
    vertical-align: middle;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(90, 90, 90);
}

h2 {
    display: inline-block;
}

h4 {
    margin: 0px;
}

/* HEADER */

header{
    display: block;
    width: 100%;
    background-color: white;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    display: block;
    width: 175px;
    margin-left: 10px
}


.logo img {
    width: 175px;
    height: 100%;
}

.searchbar {
    margin: 0px 15px;
    position: relative;
    flex-grow: 2;
}

.searchbar i {
    position: absolute;
    top: 50%;
    left: 10px;
    translate: 0 -50%;
}

#search {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 35px;
    background-color: rgb(230, 230, 230);
}

.nav_buttonbox > a {
    margin: 0px 5px;
}

/* SIDE BAR */

.sidebar {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 30px 20px;
    width: 200px;
    /* da rivedere questione height */
    height: calc(100vh - 80px);
    background-color: rgb(40, 40, 67);
}

.sidebar > a i {
    font-size: 30px;
    vertical-align: middle;
}

.sidebar > a span {
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
}

.sidebar a {
    color: white;
}

.sidebar > div {
    flex-grow: 2;
}

/* MAIN */
.main {
    width: calc(100vw - 200px);
    /* da rivedere questione height */
    height: calc(100vh - 80px);
    float: right;
    background-color: rgb(230, 230, 230);
    overflow-y: auto;
}
/* MAIN HEADER */
.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px 0px;
    width: 100%;
    min-height: 150px;
    padding: 20px;
    background-color: rgb(93, 93, 255);
    color: white;

}

.label {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.312);
    border-radius: 2em;
    padding: 0.3rem 0.5rem;

}

.main_header_path > .label {
    vertical-align: text-bottom;
}

.main_header_online, .main_header_path {
    margin-right: 100px;
}

/* MAIN CONTENTS */
.main_body {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-flow: column;
    padding: 30px 10px;
    gap: 20px;
}

/* bootstrap overwrite */
.card {
    border: 2px solid rgb(200, 200, 200);
    border-radius: 10px;
}
/* bootstrap overwrite */

#graph {
    width: 100%;
    height: auto;
}

/* MEDIA QUERY */
@media screen and (max-width: 1340px){

    .sidebar {
        width: 80px;
    }

    .main {
        width: calc(100vw - 80px);

    }

    .logo {
        max-width: 50px;
        overflow: hidden;
    }

    .sidebar a span {
        display: none;
    }

    
}

@media screen and (max-width: 450px){

    .nav_buttonbox > a {
        display: none;
    }

    .nav_buttonbox > a:last-of-type {
        display: contents;
    }

}